<ons-card>
  <img src="http://crepesywaffles.com.co/sites/all/themes/crepes/logo.png">
  <img src="http://administracion.uexternado.edu.co/img/principal/logotipo.jpg" alt="">
  <h3 class="center-text">
    Por favor, dedica un momento a resolver la siguiente encuesta con fines académicos. Somos estudiantes de administración de
    empresas de la Universidad Externado de Colombia. La información que nos proporciones será bastante útil para obtener
    el grado de satisfacción de parte de los clientes de "CREPES & WAFFLES"
  </h3>
</ons-card>