<ons-page>
  <ons-toolbar>
    <div class="center green-1">
      <img alt="SG Survey" src="/assets/imgs/connection.svg" style="
              width: 50px; margin-top: 10px">
      <h1 style="color: white; display: inline"> SG Survey </h1>
    </div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content responsive-content">
    <ons-card>
      <h3 class="center-text"> Muchas Gracias por su colaboración, sus respuestas son de suma importancia para nosotros</h3>
    </ons-card>
  </div>
</ons-page>